body {
    background-color: tomato;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

input {
    margin-left: 10px;
    border: 2px solid black;
    width: 20%;
    padding: 5px;

}

table {
    margin: 20px auto;
    border: 2px solid black;
}

td {
    width: 10%;
    font-size: 20px;
    text-align: center;
}

thead td {
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
}

tbody td {
    border: 2px solid rgb(0, 0, 0);
}

label {
    font-size: 20px;
}

button {
    margin: 50px;
    width: 200px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
}